#left-aside {
  background-color: #ececec ;
  padding: 10px ;
  float: left;
  width: 300px;
  border-left: 2px solid #a9a9a9;
  border-right: 2px solid #a9a9a9;
  padding: 10px;
  text-align: center;
}

#h1 {
  background-color: #ececec;
  padding: 10px;
  text-align: center;
  margin: auto;
  float: center;
}

#right-aside {
  background-color: #ececec ;
  padding: 10px ;
  float: right;
  width: 150px;
  border-left: 2px solid #a9a9a9;
  border-right: 2px solid #a9a9a9;
  padding: 10px;
  text-align: center;
}

#h2 {
  background-color: #ececec ;
  padding: 10px ;
}

.grid-container {
  display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
  }

.item2 { grid-area: 1 / 3 / ; }

.footer {
  background-color: #ececec ;
  padding: 10px;
  width: auto;
  border-top: 2px solid #a9a9a9;
  padding: 10px;
  text-align: center;
}
